language: haskell

env:
  matrix:
    - GHCVER=7.10.3 CABALVER=1.22
    - GHCVER=8.0.2 CABALVER=1.24
    - GHCVER=8.2.2 CABALVER=2.0
    - GHCVER=8.4.2 CABALVER=2.2
    - GHCVER=head CABALVER=head
  global:
    - UBUNTU_PKGS="libgmp-dev libgtk2.0-dev libcairo2-dev libpango1.0-dev"
    - HEAD_DEPS="diagrams-core diagrams-lib diagrams-cairo diagrams-svg diagrams-postscript diagrams-rasterific diagrams-pgf active dual-tree monoid-extras statestack diagrams-solve"
    - EXTRA_DEPS_PRE="gtk2hs-buildtools"

matrix:
  allow_failures:
    - env: GHCVER=head CABALVER=head

before_install:
  - git clone http://github.com/diagrams/diagrams-travis travis
  - source travis/scripts/set_env.sh
  - ./travis/scripts/before_install.sh

install: ./travis/scripts/install.sh

script: ./travis/scripts/script.sh


notifications:
  email: false
  irc:
    channels:
      - irc.freenode.org#diagrams
    skip_join: true
    template:
      - "\x0313diagrams-builder\x03/\x0306%{branch}\x03 \x0314%{commit}\x03 %{build_url} %{message}"
